# Dependencies
node_modules/

# Build output (Matches the 'outDir' in your tsconfig.json)
dist/
build/
out/

# Compiled files (Optional: if you don't use a build folder)
*.js
*.js.map
*.d.ts.map

# Environment variables
.env
.env.*
/src/config/config.yaml
/src/config.yaml
config.yaml

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor specific
.vscode/
.idea/
.DS_Store
