bot:
  username: "Coloque o nome do bot aqui"
  senha: "Coloque a senha do bot aqui"
  versao: '1.20.1'

# teleportMsg -> caso true, toda vez que o bot for teleportado
# recebera um print no console, recomendamos nao ativar por causa de spam.

config:
  teleportMsg: false
  printMsg: true # escreve no console as mensagens do chat

grafanaConfig:
  expressPort: 3001

blockLogger:
  - ender_chest
  - anvil
  - chipped_anvil
  - damaged_anvil
  - trapped_chest
  - shulker_box
  - respawn_anchor
  - lodestone

basefinder:
  logSpawner: false